*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
}

.card {
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.5em;
  padding: 2rem;
  text-align: center;
}

img {
  width: 4rem;
  height: 4rem;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

h1 {
  font-weight: 600;
  margin-top: 1.2rem;
}

.dun {
  color: hsl(75, 94%, 57%);
  margin-top: 0.2rem;
  font-weight: 600;
}

.avid {
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  font-size: 0.7rem;
}

.link-list {
  list-style: none;
}

.mint {
  display: block;
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 0.6em 3.7rem;
  margin-top: 0.8em;
  font-weight: 700;
  border-radius: 0.5em;
  text-align: center;
  justify-self: stretch;
}

a:hover {
  transition: 0.5s ease;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
