html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf) format(ttf);
  font-style: normal;
  font-weight: 400;
}

body {
  display: grid;
  place-items: center;
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
}

.card {
  max-width: 21.5rem;
  background-color: hsl(0, 0%, 12%);
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  border-radius: 0.5em;
}

.rao {
  display: block;
  text-align: center;
}

img {
  max-width: 4rem;
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 2em;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.002em;
}

.dun {
  font-size: 0.75rem;
  color: hsl(75, 94%, 57%);
  margin-top: 0.2rem;
}

.avid {
  font-size: 0.75rem;
  margin-top: 1.2rem;
}

.link {
  margin-bottom: 1rem;
}

.mint {
  display: block;
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 1em 7em;
  margin: 1.3em 2.7em;
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 0.5em;
  text-align: center;
}

a:hover {
  transition: 0.5s ease;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile devices  */

@media screen and (min-width: 64rem) {
  .card {
    min-width: 28.5rem;
    padding: var(--sp-500);
  }
}

@media screen and (min-width: 90rem) {
  .card {
    min-width: 24rem;
  }
}
