*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
}

.card {
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.5em;
  padding: 0.5rem;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

img {
  width: 4rem;
  height: 4rem;
  height: auto;
  border-radius: 50%;
  margin-top: 2em;
  aspect-ratio: 1;
  object-fit: cover;
}

h1 {
  font-weight: 600;
  margin-bottom: 0.002em;
}

.dun {
  color: hsl(75, 94%, 57%);
  margin-top: 0.2rem;
  font-weight: 600;
}

.avid {
  margin-top: 1.2rem;
}

.link-list {
  list-style: none;
  margin-bottom: 1.3rem;
}

.mint {
  display: block;
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 0.7em 3.2rem;
  margin-top: 1em;
  font-weight: 700;
  border-radius: 0.5em;
  text-align: center;
  justify-self: stretch;
}

a:hover {
  transition: 0.5s ease;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile devices  */

@media screen and (min-width: 64rem) {
  .card {
    min-width: 19rem;
    padding: var(--sp-500);
  }
}

@media screen and (min-width: 90rem) {
  .card {
    min-width: 19rem;
  }
}
